#hr{
    height: 10px;
    background-color:#5D001E;
}
#hr2{
    height: 1px;
    background-color:crimson;
}
#header{
    background-color:  white;
}        
#headerContent{
    width: 720px;
    height: 120px;
    padding : 20px 25px 5px 25px;
    margin-left: 520px;          
}
#logo{
    height: 70px;
    width: 120px;
}
#searchBox{
    background-color: white;
    height: 45px;
    margin-top: 20px;
    width: 400px;
    border:0px;
    border-bottom: 1px solid crimson;            
}
#formSearch{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
#btnToSearch{
    margin-top: -7px !important;
    margin-left: 15px;
    height: 45px;
}
#content{
    background-color:#5D001E;            
    height: 800px;
}
#genreBar{
    color: whitesmoke;
}
#nav{
    height: 60px;
    margin-left: 470px;
    width: 820px;
    padding-top: 10px;  
}
#navBox{
    width: 110px;
    height: 40px;
    border-right: 1px solid crimson;
    float: left;
}
#navBox2{
    width: 110px;
    height: 40px;
    float: left;
    margin-left: 10px;
}
#icon:hover, #icon:focus, #icon:active{
    color: white !important;
}
#contentContainer{
    height: auto;
    background-color: white;
}
#boxContent{
    width: 65%;
    min-height: 490px;
    overflow: hidden;
    border: 0px;
    border-bottom: 1px solid gray;
    padding-top: 20px;
    margin-left: 300px;
}
#card{
    height: 400px;
    width: 170px;
    margin :15px;
    float: left;
    background-color: white;
}
#rating{
    width :auto;
    height: 20px;
    padding: 5px;
}
.checked {
    color: orange;
}
#coverBuku{
}
#x{
    color: white !important;
}
#modal{
    background-color: #5D001E;
}
#inputBox{
    height: 45px;
    margin-top: 10px;
    width: 250px;
    border:0px;
    border-bottom: 1px solid crimson;            
}
#containerRegist{
    height: 500px;
    margin-top :100px;
}
#formRegist{
    width : 400px ;
    height:500px;
    float: left;
    margin-left : 500px;
    padding-left: 10px;
    margin-right: 20px;
}
#logoDiv{
    width : 400px ;
    border-left: 1px solid crimson;
    height:500px;
    float: left;
    display : block;
    text-align: center;
    padding-top : 150px;
    
}
#inputBox2{
    height: 45px;
    margin-top: 10px;
    width: 350px;
    border:0px;
    border-bottom: 1px solid crimson;  
}
#termsBox{
    border: 2px solid black;
    margin-right : 5px;
}
#btnRegister{
     margin-top: 20px;
     width: 250px;
     margin-left: 60px;
     margin-bottom: 20px;
}
#backToLogin{
    margin-left:90px;
}
#coverDisplay{
    width: 250px;
    height:330px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}
#detailDisplay{
    margin-top: 10px;
    padding: 5px;
    width: 550px;
    height: 330px;
    float: left;
    background-color: white;
}
#paymentDisplay{
    margin-top: 10px;
    padding: 5px;
    padding-left: 15px;
    width: 230px;
    height: 330px;
    float: left;
    background-color: white;
    border-left: 1px solid black;
}
#priceContainer{
    width: 230px;
    height: 150px;
    margin-bottom: 20px;  
}
.nav-link{
    color: black;
    background-color: white;
}
.nav-link:hover{
    color: gray;
    background-color: white;
}
#btnDisplay{
    width: 100%;
    margin-top: 20px;
}
#tabDisplay{
    background-color: white;
}
#tabDisplay:target{
    background-color: white;
    border-bottom: 1px solid crimson;
}
.tab-pane{
    padding: 20px;
}
a.notif {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    background: url('http://i.imgur.com/evpC48G.png');
    background-size: contain;
    text-decoration: none;
  }
.num {
    position: absolute;
    right: 11px;
    top: 6px;
    color:white;
    border-radius: 10px;
    width: 20px;
    height: 25px;
   
    background-color:red;
}
#mainbar{
    box-shadow: 0px 1px 5px rgb(247, 36, 36) !important;
}
#navMainBtn{
    font-size: large ;
}
#navMainBtn:hover{
    color: red !important;
    
}
.form-control:focus {
    border-color: gray;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.014), 0 0 8px rgba(103, 104, 103, 0.6);
}
#remember{
    margin-top: 7px;
}
#wishBtn:hover{
    color: red;
    text-decoration: none;
}
#wishBtn{
    color: black;
}
#wishBtn:active,#wishBtn:focus{
    border: 0;
}
i:hover{
    color: red !important;
}